@import "compass/css3"; // compass css3 helpers
@import "../../../../../../sass/global/variables";
@import "variables";

.elgg-menu-wall-filter {
	text-align: right;
	margin: 10px;
	& > li {
		display: inline-block;
		a {
			font-size: 20px;
			@include border-radius(1000px);
			margin: 4px;
			color: $border-color;
		}
		&.elgg-state-selected a, a:hover {
			color: $primary-color;
		}

	}
}

.wall-icon {
	@include icon;
	&.wall-icon-photo:before {
		content: $fa-var-camera;
	}
	&.wall-icon-status:before {
		content: $fa-var-pencil;
	}
	&.wall-icon-url:before {
		content: $fa-var-link;
	}
	&.wall-icon-file:before {
		content: $fa-var-cloud-upload;
	}
	&.wall-icon-content:before {
		content: $fa-var-clipboard;
	}
	&.wall-icon-find-me:before {
		content: $fa-var-crosshairs;
	}
}


.wall-container {
	* {
		@include box-sizing(border-box);
	}
	position: relative;
	margin: 10px;

	form {
		padding: 0;
		background: transparent;
		@include single-transition;
		fieldset {
			margin: 0;
			padding: 0;
			border: 0;
		}
		fieldset > div {
			margin-bottom: 10px;
		}
		label {
			font-weight: normal;
			display: inline-block;
			margin-bottom: 7px;
			float: left;
		}
		textarea {
			height: 75px;
			@include border-radius(0);
			padding: 8px;
			margin-bottom: 10px;
		}
		input[type="text"] {
			@include border-radius(0);
		}
		.wall-find-me {
			float: right;
		}
		.wall-bar-controls {
			text-align: right;
			margin: 0;
			& > li {
				display: inline-block;
				&:after {
					content: "|";
					color: $lighter-border-color;
					display: inline-block;
					padding: 0 5px;
				}
				&:last-child:after {
					display: none;
				}
				.wall-access {
					float: none;
					width: auto;
				}
				label {
					font-size: 90%;
				}
				input, select {
					margin: 0;
				}
			}
		}
	}
}

.wall-tagged-friends, .wall-tagged-location, .wall-tagged-attachments {
	font-size: 90%;
	color: #666;
}

.wall-post-list {
}

.wall-post {
	@include clearfix;
	padding-top: 10px;
	& > .elgg-image {
		@include elgg-col(2);
		margin: 0;
		padding: 0 3px;
		position: relative;
		.elgg-avatar {
			max-width: 100%;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.wall-owner-icon-block {
			margin: -20px 0 0 30px;
			position: absolute;
			display: block;
		}
	}
	& > .elgg-body {
		@include elgg-col(10);
		padding: 0 3px;
		.elgg-content {
			@include clearfix;
		}
		.elgg-menu-entity {
			margin-top: 15px;
			margin-left: 0;
			float: none;
		}
		.wall-bubble {
			@include speech-bubble(lighten($border-color, 10%));
			padding: 15px;
		}
	}
}

.wall-post-alt {
	@include clearfix;
	padding-top: 10px;
	& > .elgg-image-alt {
		@include elgg-col(2);
		float: right;
		margin: 0;
		padding: 0 3px;
		position: relative;
		.elgg-avatar {
			max-width: 100%;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.wall-owner-icon-block {
			margin: -20px 0 0 30px;
			position: absolute;
			display: block;
		}
	}
	& > .elgg-body {
		@include elgg-col(10);
		float: left;
		padding: 0 3px;
		.elgg-content {
			@include clearfix;
		}
		.elgg-menu-entity {
			margin-top: 15px;
			margin-left: 0;
			float: none;
		}
		.wall-bubble {
			@include speech-bubble-alt(lighten($border-color, 10%));
			padding: 15px;
		}
	}
}
 
.wall-poster-avatar, .wall-owner-avatar {
	@include border-radius(1000px);
	border: 1px solid $border-color;
}

.wall-status-counter {
	text-align: right;
	left: 0;
	bottom: 0;
	padding: 0 8px;
	font-size: 11px;
	line-height: 20px;
	vertical-align: middle;
	color: #666;
	.wall-chars-counter {
		margin: 0 5px 0 0;
		font-size: 12px;
	}
	&.wall-status-counter-overflow {
		.wall-chars-counter {
			color: darkred;
			font-weight: bold;
		}
	}
}

.wall-attachments, .wall-url-preview {
	margin: 10px 0;
	img, iframe, object, embed {
		max-width: 100%;
	}
	.elgg-gallery {
		& > li {
			display: inline-block;
			float: none;
			padding: 10px;
			@include box-sizing(border-box);
			width: 33%;
		}
	}
}

.wall-widget-list {
	& > li {
		padding: 10px;
		@include box-sizing(border-box);
	}
}

.wall-attachments-gallery {
	margin: 0;
	& > li {
		width: 100%;
		float: none;
		padding: 5px;
		margin: 0;
	}
	&.wall-block-grid-2 {
		& > li {
			@media #{$medium} {
				float: left;
				width: 50%;
				@include box-sizing(border-box);
				&:nth-of-type(1n) {clear: none;}
				&:nth-of-type(2n+1) { clear:both; }
			}
		}
	}
	&.wall-block-grid-3 {
		& > li {
			@media #{$medium} {
				float: left;
				width: 33.33333%;
				padding: 5px;
				margin: 0;
				&:nth-of-type(1n) {clear: none;}
				&:nth-of-type(3n+1) { clear:both; }
			}
		}
	}
	&.wall-block-grid-4 {
		& > li {
			@media #{$medium} {
				float: left;
				width: 25%;
				padding: 5px;
				margin: 0;
				&:nth-of-type(1n) {clear: none;}
				&:nth-of-type(4n+1) { clear:both; }
			}
		}
	}
}